*{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    background-color: #f6f9fe;
}
.logo{
    float: left;
    margin-top: 5px;
    height: 50px;
    margin-left: 10%;
}
.flash-infinite{
  animation-name: flash;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
.main-container{
    border: 0;
    margin: 0;
    height: 500px;
    padding: 0;
    background-image:url(./images/background.jpg);
    background-position: 50% 0px;                                     /*阴天50%*/
}
.top-container{
    border-bottom:rgba(255, 255, 255, 0.2) solid 1px;
    height: 60px;
}
.city-container{
    float: right;
    margin-right: 8%;
}
#now-city{
    line-height: 60px;
    margin-right: 10px;
    font-size: 16px;
    color: #fff;
}
#input{
    border: none;
    background: rgba(255,255,255,0.2);
    border-radius: 49px;
    padding: 5px 13px;
    width: 251px;
    height: 20px;
    font-size: 14px;
    color: white;
}
#input::-webkit-input-placeholder{
    color: white;
    opacity: 0.7;
}
#search-city{
    border: none;
    background: rgba(255,255,255,0.7);
    border-radius: 49px;
    padding: 5px 13px;
    width: 60px;
    height: 28px;
    color: rgb(101,123,245);
    cursor: pointer;
    font-size: 14px;
}
.position-icon{
    content: '';
    float: left;
    height: 16px;
    width: 16px;
    background-image: url(./images/icon.png);
    background-position: -216px -126px;
    background-size: 234px 212px;
    margin-right: 7px;
    margin-top: 22px;
}
.word{
    float: left;
}
#weather-icon{
    float: right;
    margin-right: 300px;
    margin-top: 30px;
}
.now{
    margin-top: 80px;
    margin-left: 150px;
    color: white;
}
#now-temp{
    font-size: 85px;
}
#now-weather{
    font-size: 30px;
}
.now-detail{
    margin-top: 15px;
    font-size: 20px;
}
#wind-icon{
    float: left;
    height: 18px;
    width: 18px;
    background-image: url(./images/icon.png);
    background-position: -192px -166px;
    background-size: 234px 212px;
    margin-top: 5px;
    margin-right: 10px;
}
#wind{
    float: left;
    margin-right: 20px;
}
#humidity-icon{
    float: left;
    height: 18px;
    width: 18px;
    background-image: url(./images/icon.png);
    background-position: -192px -120px;
    background-size: 234px 212px;
    margin-top: 5px;
    margin-right: 10px;
}
#humidity{
    margin-right: 20px;
    float: left;
}
#baro-icon{
    float: left;
    height: 18px;
    width: 18px;
    background-image: url(./images/icon.png);
    background-position: -192px -97px;
    background-size: 234px 212px;
    margin-top: 5px;
    margin-right: 10px;
}
#baro{
    float: left;
}
.tips{
    float: left;
    margin-top: 20px;
    font-size: 20px;
}
#tips-key{
    float: right;
    height: 22px;
    width: 22px;
    background-image: url(./images/icon.png);
    background-position: -120px -190px;
    background-size: 234px 212px;
    margin-top: 5px;
    margin-right: 10px;
    cursor: pointer;
}
.detail-container{
    background-attachment:scroll;
    background-color:white;
    border-radius: 10px;
    box-shadow:rgba(0, 0, 0, 0.08) 0px 0px 14px 0px;
    color: rgba(0, 0, 0, 0.78);
    font-size:12px;
}
#hours-container{
    float: left;
    margin-left: 10%;
    margin-top: 220px;
    height: 180px;
    width: 1200px;
}
#hours-title-container{
    height: 65px;
    display: block;
}
#hours-title{
    float: left;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}
#hours-down{
    margin-right: 50px;
    margin-top: 20px;
    float: right;
    height: 24px;
    width: 24px;
    background-image: url(./images/icon.png);
    background-position: -190px -0px;
    background-size: 234px 212px;
    cursor: pointer;
}
#hours-down:hover{
    background-position: -190px -25px;
}
#hours-up{
    margin-top: 20px;
    margin-right: 5px;
    float: right;
    height: 24px;
    width: 24px;
    background-image: url(./images/icon.png);
    background-position: -136px -154px;
    background-size: 234px 212px;
    cursor: pointer;
}
#hours-up:hover{
    background-position: -161px -154px;
}
.hours{
    float: left;
    width: 60px;
    margin-left: 37px;
    text-align: center;
    font-size: 16px;
}
.hours-time{
    width: 40px;
}
.hours-icon{
    float: left;
    width: 40px;
}
.hours-tempture{
    width: 40px;
}
#week-container{
    float: left;
    width: 740px;
    height: 492px;
    margin-left: 10%;
    margin-top: 40px;
    margin-bottom: 50px;
}
#week-title{
    float: left;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 20px;
    width: 720px;
}
.days{
    list-style: none;
    float: left;
    margin: 0px;
    height: 454px;
    width: 92.5px;
    text-align: center;   
}
.day{
    font-size: 14px;
    color: #384c78;
    margin-top: 12px;
    margin-bottom: 12px;
    height: 14px;
    line-height: 14px;
}
.date{
    font-size: 12px;
    color: #8a9baf;
    margin-bottom: 30px;
    height: 12px;
    line-height: 12px;

}
.day-weather{
    font-size: 14px;
    color: #384c78;
    line-height: 14px;
    height: 14px;
    margin-bottom: 20px;
}
.day-icon{
    height: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
.night-icon{
    margin-top: 174px;
    margin-bottom: 24px;
    height: 30px;
}
.night-weather{
    font-size: 14px;
    color: #384c78;
    line-height: 14px;
    height: 14px;
}
.wind-24h{
    margin-top: 25px;
    font-size: 12px;
    color: #8a9baf;
    line-height: 12px;
    height: 12px;
}
#livingIndex-container{
    margin-top: 40px;
    margin-right: 10%;
    float: right;
    width: 430px;
    position: relative;
}
.livingIndex-title{
    float: left;
    color: rgba(0, 0, 0, 0.78);
    font-size: 20px ;
    margin-bottom: 20px;
}
.livingIndexDetailLeft{
    margin-top: 20px;
    float: left;
    height: 136px;
    width: 47.5%;
}
.livingIndexDetailRight{
    margin-top: 20px;
    float: right;
    height: 136px;
    width: 47.5%;
}